doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        title= title
        block css
            link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css")
            link(rel="stylesheet", href="/css/style.css")
            link(rel="stylesheet", href="/css/chessboard-0.3.0.css")
        block AdditionalCss
    body
        block content

        block js
            script(src="/libs/jquery/dist/jquery.min.js")
            script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
            script(src="/libs/chess.js/chess.js")
            script(src="/js/chessboard-0.3.0.js")
            script(src="/js/chess.js")
        block AdditionalJS